<head>
<title>About</title>
<link rel="stylesheet" type="text/css" href="/static/about.css">
</head>
{% extends "base.html" %}
{% block main %}
<h1> Projet Flask, gestion d'une base de données de musiques</h1>
<div id="img"><img src="/static/iut.jpg" width=500px height=200px></div>
<div id="membres">
	<ul>
		<li>Thomas Sambourg - <a href="https://gitlab.com/u/mangebanane"> projets </a></li>
		<li>Florian Duneau - <a href="https://gitlab.com/u/faseldi"> projets </a></li>
	</ul>
</div>
{% endblock %}