<html>
<head>
<title> {{ title }} </title>
</head>
<link rel="stylesheet" type="text/css" href="/static/description.css">
{% extends "base.html" %}
{% block main %}

<h1> {{ title }} </h1>

<div id="infos">
	<ul>
		<li>Groupe : {{ groupe }}</li>
		<li>Année : {{ releaseYear }}</li>
		<li>Genres : {{ genres }}
		<li id="lien"><a href="https://www.youtube.com/results?search_query={{ artiste }} {{ album[1] }}">Ecouter l'album</a></li>
		</li>
	</ul>
</div> 
<img src="{{ images_dir }}{{ album[0] }}" onerror="this.src='/static/images/missing.jpg'" width="300" height="300" title="{{ album[1] }}">

</html>
{% endblock %} 
